-set_meta_tags canonical: notes_path

%ol.breadcrumb{itemprop: "breadcrumb"}
  %li.breadcrumb-item{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Théorie de la musique" do
      %span{itemprop: "title"}>= "Théorie musicale"
  %li.breadcrumb-item.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to notes_path, itemprop: "url", title: "Notes", class: "disable" do
      %span{itemprop: "title"}>="Notes"

.page-header
  %h1= title "Notes"
%h2.lead= description 'Liste des notes et de leurs équivalents enharmoniques'

#section#notes
  %table.table.table-hover.table-sm
    %thead
      %tr
        %th Note
        %th Notation anglaise
        %th Notation française

    %tbody
    -(0...12).each do |index|
      -@keys.select {|key| key.index == index}.each do |key|
        %tr{class: key.index.even? ? "table-active" : ""}
          %td
            %strong= link_to key, note_path(key), title: key.name_for_seo
          %td
            =key.name
          %td
            =key.french_name

