.col-md-12
  %ol.breadcrumb{itemprop: "breadcrumb"}
    %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
      =link_to root_path, itemprop: "url", title: "Accueil" do
        %span{itemprop: "title"}>= "Accueil"
    %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
      =link_to scales_path, itemprop: "url", title: "Gammes", class: "disable" do
        %span{itemprop: "title"}>= title "Gammes"

.page-header
  %h1 Gammes

%section#scales
  = render @scales
