-set_meta_tags canonical: scales_url

%ol.breadcrumb{itemprop: "breadcrumb"}
  %li.breadcrumb-item{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Théorie de la musique" do
      %span{itemprop: "title"}>= "Théorie musicale"
  %li.breadcrumb-item.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scales_path, itemprop: "url", title: "Gammes", class: "disable" do
      %span{itemprop: "title"}>= title "Gammes"

.page-header
  %h1 Gammes
%h2.lead= description 'Liste des gammes les plus répandues accompagnées de leurs modes'

%section#scales
  = render @scales
