%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Accueil" do
      %span{itemprop: "title"}>= "Accueil"
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scales_path, itemprop: "url", title: "Gammes" do
      %span{itemprop: "title"}>= "Gammes"
  %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to scale_path(@scale), itemprop: "url", title: @scale.title, class: "disable" do
      %span{itemprop: "title"}>= @scale.title

%article#scale
  %header
    .page-header
      %h1= title @scale.title
    %p= description @scale.information

  %nav#modes-list
    %h2 Modes de la gamme
    %ul
      - @scale.modes.each do |mode|
        %li= link_to_unless mode == @mode, mode, [@key, @scale, mode]

