- chord = chord.in_key_of(key) if local_assigns[:key]

.chord.col-xs-6.col-md-3
  = link_to(chord, class: "thumbnail") do
    %h3= chord.name
    .staff.chord-staff{"data-id" => chord.id, "data-staff" => chord.octavized_notes.to_json, "data-staff-clef" => "treble", "width" => 150}
