- chord = chord.in_key_of(key) if local_assigns[:key]

.chord
  .card
    = link_to(chord) do
      .card-header
        =chord.name
      .card-block
        .staff.chord-staff{"data-id" => chord.id, "data-staff" => chord.octavized_notes.to_json, "data-staff-clef" => "treble", "width" => 150}
