-set_meta_tags canonical: chords_url

%ol.breadcrumb{itemprop: "breadcrumb"}
  %li{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to root_path, itemprop: "url", title: "Théorie de la musique" do
      %span{itemprop: "title"}>= "Théorie musicale"
  %li.active{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
    =link_to chords_path, itemprop: "url", title: "Accords", class: "disable" do
      %span{itemprop: "title"}>=title "Accords"

.page-header
  %h1 Accords
%h2.lead= description 'Liste des accords classés en fonction de leur qualité'

%section#chords
  = render @chord_qualities
