.page-header
  %h1
    = title "A propos"

%p.lead
  = description "Ce site a pour but d'être une compilation de données utiles sur la théorie musicale pour le Jazz et les musiques improvisée en général."
  %br
  Pour toute remarque, faites-moi signe sur Twitter : #{link_to '@camilleroux', 'https://twitter.com/CamilleRoux'}
