-set_meta_tags canonical: page_url('ressources')

.page-header
  %h1
    = title 'Ressources'
%p.lead= description 'Liste de livres, sites web, vidéos... sur la théorie musicale'

%section#ressources
  %h2 Livres
  .media
    .media-body
      %h4.media-heading
        La partition intérieure
        %small Jacques SIRON
      %p
        Livre de référence sur la théorie musicale qui s'est largement imposé dans les domaines du jazz et des musiques improvisées.
        %br/
        Il s'agit d'une vraie bible pour musicien. Du haut de ses 768 pages, vous y trouverez tout ce que vous avez besoin de savoir, que vous soyez débutant, improvisateur aguerri, enseignant ou simplement curieux.

      =link_to "http://www.amazon.fr/gp/product/2907891030/ref=as_li_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=2907891030&linkCode=as2&tag=camiroux-21", rel:'nofollow', target: "_blank", class: "btn btn-info" do
        %span.glyphicon.glyphicon-link{'aria-hidden': true}/
        Amazon

    .media-right
      <a href="http://www.amazon.fr/gp/product/2907891030/ref=as_li_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=2907891030&linkCode=as2&tag=camiroux-21"><img border="0" class="media-object" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=2907891030&Format=_SL160_&ID=AsinImage&MarketPlace=FR&ServiceVersion=20070822&WS=1&tag=camiroux-21" ></a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=camiroux-21&l=as2&o=8&a=2907891030" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    .media
    .media-body
      %h4.media-heading
        Théorie de la musique
        %small Adolphe Danhauser
      %p
        Ce livre est l'un des piliers de la pédagogie musicale. La "Théorie de la musique" est très centrée sur la notation. C'est un peu le Bescherelle de la musique.

      =link_to "http://www.amazon.fr/gp/product/B00006RJNJ/ref=as_li_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=B00006RJNJ&linkCode=as2&tag=camiroux-21", rel:'nofollow', target: "_blank", class: "btn btn-info" do
        %span.glyphicon.glyphicon-link{'aria-hidden': true}/
        Amazon

    .media-right
      <a href="http://www.amazon.fr/gp/product/B00006RJNJ/ref=as_li_tl?ie=UTF8&camp=1642&creative=19458&creativeASIN=B00006RJNJ&linkCode=as2&tag=camiroux-21"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00006RJNJ&Format=_SL160_&ID=AsinImage&MarketPlace=FR&ServiceVersion=20070822&WS=1&tag=camiroux-21" ></a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=camiroux-21&l=as2&o=8&a=B00006RJNJ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

  %h2 Sites web

  .media
    .media-body
      %h4.media-heading
        musictheory.net
        %small (EN)
      %p
        Ce site anglophone permet de s'initier à la musique grâce à des animations très bien faites. Les cours commencent par la notation musicale (les clés, les durées, les silences, les altérations...), puis expliquent les notions de gammes, d'intervalles, d'accords, de progressions d'accords,...
        %br/
        Il y a aussi une partie exercice qui est très intéressante. Vous pourrez vous entrainer à reconnaitre des notes/intervalles/accords/gammes sur une partition, un clavier de piano, un manche de guitare... ou encore à l'oreille (Ear Training).
      =link_to 'http://www.musictheory.net/', rel:'nofollow', target: "_blank", class: "btn btn-info" do
        %span.glyphicon.glyphicon-link{'aria-hidden': true}/
        musictheory.net

  .media
    .media-body
      %h4.media-heading
        Jazzity
        %small (EN)
      %p
        Site dont le #{link_to 'code source', 'https://github.com/rubiety/jazzity', rel:'nofollow', target: "_blank"} a servi de base à celui-ci.
        Comme ici, vous trouverez une liste d'accords, de gammes, de mode, de grilles et progressions d'accords...

      =link_to 'http://jazzity.com/', rel:'nofollow', target: "_blank", class: "btn btn-info" do
        %span.glyphicon.glyphicon-link{'aria-hidden': true}/
        jazzity.com

  %h3 Guitare
  .media
    .media-body
      %h4.media-heading
        Guitare::Improvisation
      %p
        Très bon site francophone pour apprendre à improviser à la guitare. Les explications sont toujours très claires, bien illustrées et accompagnées d'exemples.
        %br/
        Vous y trouverez également toute une série de vidéos pas très chères (5€ max) centrées sur un style ou un morceau en particulier.

      =link_to 'http://www.guitare-improvisation.com/', rel:'nofollow', target: "_blank", class: "btn btn-info" do
        %span.glyphicon.glyphicon-link{'aria-hidden': true}/
        guitare-improvisation.com