// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-variables";
@import "bootstrap";
@import "chord";
@import "piano";


footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

nav.navbar.bg-dark {
  background-color: #2d3e50 !important;
}

.jumbotron{
  color: #fff;
}

.staff {
  canvas{
    max-width: 100%;
    height: auto;
  }
}

.page-header {
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee
}